@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap");
@font-face {
  font-family: "Sehaty";
  src: url("/webfonts_Sehaty/Sehaty.ttf.woff") format("woff"), url("/webfonts_Sehaty/Sehaty.ttf.svg#Sehaty") format("svg"), url("/webfonts_Sehaty/Sehaty.ttf.eot"), url("/webfonts_Sehaty/Sehaty.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maven-Pro-Black";
  src: url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.woff") format("woff"), url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.svg#Maven-Pro-Black") format("svg"), url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot"), url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alesand-Regular";
  src: url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.woff") format("woff"), url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.svg#Alesand-Regular") format("svg"), url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot"), url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.body {
  background-color: #cecbc8;
}

.p {
  margin-top: 10rem;
  font-family: "Alesand-Regular";
  color: #948b88;
}

.navbar-custom {
  background-color: #dcd3cf;
  color: #948b88;
  font-family: "Alesand-Regular";
}

.btn-custom {
  background-color: #948b88;
  color: #fbf6e3;
}

.btn-custom:hover {
  background-color: #dcd3cf;
  color: #948b88;
}

.pie-de-pagina {
  font-family: "Alesand-Regular";
  color: #948b88;
  background-color: #dcd3cf;
}

.titulo {
  font-family: "Maven-Pro-Black";
  color: #948b88;
}

.textocomun {
  font-family: "Montserrat", sans-serif;
  color: #948b88;
  font-size: calc(0.5em + 1vw);
}

.textoinicio {
  font-family: "Montserrat", sans-serif;
  color: #948b88;
  font-size: calc(0.5em + 1vw);
}

.info-luz {
  background-color: #dcd3cf;
  color: #c1cad7;
}

.desplegable {
  background-color: #fbf6e3;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.btn-dion {
  background-color: #c1cad7;
  text-overflow: #191d23;
}

.btn-dion:hover {
  background-color: #191d23;
  color: #c1cad7;
  cursor: pointer;
}

.dion {
  background-color: #6b8096;
}

.titulodion {
  color: #191d23;
  font-family: "Maven-Pro-Black";
}

.textdion {
  color: #c1cad7;
  font-family: "Alesand-Regular";
}

.textovecina {
  color: black;
  font-family: "Alesand-Regular";
}

.lavecina {
  background-color: #FCC6BB;
}

.titulovecina {
  color: black;
  font-family: "Maven-Pro-Black";
}

.btn-vecina {
  background-color: #F7E2DE;
  text-overflow: #F97C64;
}

.btn-vecina:hover {
  background-color: black;
  color: #F7E2DE;
  cursor: pointer;
}

.cuentoobjetos {
  background-color: #fdecda;
}

.titulocuentoobjetos {
  max-width: 85%;
  color: #6F4025;
  font-family: "Maven-Pro-Black";
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titulocuentoobjetos2 {
  color: #6F4025;
  font-family: "Maven-Pro-Black";
  display: inline-block;
  font-size: calc(1.5rem + 2vw);
}

.textocuentoobjetos {
  font-family: "Alesand-Regular";
  color: #6F4025;
}

.btn-cuentoobjetos:hover {
  background-color: #fdecda;
  text-overflow: #6F4025;
  color: #6F4025;
}

.btn-cuentoobjetos {
  background-color: #6F4025;
  text-overflow: #fdecda;
  color: #fdecda;
}

.btn-cuentoobjetos2 {
  background-color: #f3dbc3;
  color: #6F4025;
}

.btn-cuentoobjetos2:hover {
  background-color: #6F4025;
  text-overflow: #6F4025;
  color: #fdecda;
}

.btn-milagros:hover {
  background-color: #144b2c;
  text-overflow: #144b2c;
  color: #bad4af;
}

.btn-milagros {
  background-color: #d5f2e0;
  text-overflow: #144b2c;
  color: #144b2c;
}

.milagros {
  background-color: #bad4af;
}

.titulomilagros {
  color: #144b2c;
  font-family: "Maven-Pro-Black";
}

.textomilagros {
  font-family: "Alesand-Regular";
  color: #144b2c;
}

.escrituras {
  font-family: "Sehaty";
  color: black;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #dcd3cf;
  margin: 0;
  font: inherit;
  color: #948b88;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #948b88;
  border-radius: 0.15em;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #948b88;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}