
$principal:#dcd3cf;
$secondary:#948b88;
$info: #cecbc8;
$warning: #fbf6e3;
$dion:#6b8096;
$diondark: #191d23;
$dionlight: #c1cad7;

//TIPOGRAFIAS 

@font-face {
    font-family: 'Sehaty';
    src:url('/webfonts_Sehaty/Sehaty.ttf.woff') format('woff'),
        url('/webfonts_Sehaty/Sehaty.ttf.svg#Sehaty') format('svg'),
        url('/webfonts_Sehaty/Sehaty.ttf.eot'),
        url('/webfonts_Sehaty/Sehaty.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Maven-Pro-Black';
    src:url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.woff') format('woff'),
        url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.svg#Maven-Pro-Black') format('svg'),
        url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot'),
        url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap');

@font-face {
    font-family: 'Alesand-Regular';
    src:url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.woff') format('woff'),
        url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.svg#Alesand-Regular') format('svg'),
        url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot'),
        url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

//GENERALES
.body{
    background-color: $info;
}
.p{
    margin-top: 10rem;
    font-family: 'Alesand-Regular';
    color: $secondary;
}
.navbar-custom{
    background-color: $principal;
    color: $secondary;
    font-family: 'Alesand-Regular';
}
.text-overflow-center {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}
.btn-custom{
    background-color: $secondary;
    color: $warning;
}
.btn-custom:hover{
    background-color: $principal;
    color: $secondary;
}
.pie-de-pagina{
    font-family: 'Alesand-Regular';
    color: $secondary;
    background-color: $principal;
}
.piedefoto{
    font-family: 'Alesand-Regular';
    color: $secondary;
}

.titulo{
    font-family: 'Maven-Pro-Black';
    color: $secondary;
}


.textocomun{
    font-family: 'Montserrat', sans-serif;
    color: $secondary;
    font-size: calc(1em + 0.5vw)
}

.textoinicio{
    font-family: 'Montserrat', sans-serif;
    color: $secondary;
    font-size: calc(1em + 0.5vw)
}

// INFO LUZ
.info-luz{
    background-color: $principal;
    color: $dionlight;
}
.desplegable{
    background-color: $warning;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

//ESCRITURA 

//DION
.btn-dion{
    background-color: $dionlight;
    text-overflow: $diondark;
}
.btn-dion:hover{
    background-color: $diondark;
    color: $dionlight;
    cursor: pointer;
}
.dion{
    background-color: $dion;
}
.titulodion{
    color: $diondark;
    font-family: 'Maven-Pro-Black';
}
.textdion{
    color: $dionlight;
    font-family: 'Alesand-Regular';
}

//MI VECINA
.textovecina{
    color: black;
    font-family: 'Alesand-Regular';

}
.lavecina{
    background-color: #FCC6BB;
}
.titulovecina{
    color: black;
    font-family: 'Maven-Pro-Black';
}
.btn-vecina{
    background-color: #F7E2DE;
    text-overflow: #F97C64;
}
.btn-vecina:hover{
    background-color: black;
    color: #F7E2DE;
    cursor: pointer;
}
.cuentoobjetos{
    background-color: #fdecda;
}


//LOS OBJETOS NO CALLAN
.titulocuentoobjetos{
    max-width: 85%;
    color: #6F4025;
    font-family: 'Maven-Pro-Black';
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titulocuentoobjetos2{
    color: #6F4025;
    font-family: 'Maven-Pro-Black';
    display: inline-block;
    font-size: calc(1.5rem + 2vw);
}
.textocuentoobjetos{
    font-family: 'Alesand-Regular';
    color: #6F4025;
}

.btn-cuentoobjetos:hover{
    background-color:  #fdecda;
    text-overflow:  #6F4025;
    color: #6F4025;
}
.btn-cuentoobjetos{
    background-color:  #6F4025;
    text-overflow:   #fdecda;
    color:  #fdecda;
}
.btn-cuentoobjetos2{
    background-color: #f3dbc3;
    color: #6F4025;
}
.btn-cuentoobjetos2:hover{
    background-color:   #6F4025;
    text-overflow:  #6F4025;
    color: #fdecda;
}

//MILAGROS
.btn-milagros:hover{
    background-color: #144b2c;
    text-overflow:  #144b2c;
    color: #bad4af;
}
.btn-milagros{
    background-color:  #d5f2e0;
    text-overflow:  #144b2c;
    color:  #144b2c;
}
.milagros{
    background-color: #bad4af;
}
.titulomilagros{
    color:  #144b2c;
    font-family: 'Maven-Pro-Black';
}

.textomilagros{
    font-family: 'Alesand-Regular';
    color:  #144b2c;

}

// INICIO MIS ESCRITURAS
.escrituras{
    font-family: 'Sehaty';
    color: black;
}
//checkbox
input[type="checkbox"] {
    appearance: none;
    background-color: $principal;
    margin: 0;
    font: inherit;
    color: $secondary;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid $secondary;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $secondary;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }