
$principal:#dcd3cf;
$secondary:#948b88;
$info: #cecbc8;
$warning: #fbf6e3;
$dion:#6b8096;
$diondark: #191d23;
$dionlight: #c1cad7;
@font-face {
    font-family: 'Maven-Pro-Black';
    src:url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.woff') format('woff'),
        url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.svg#Maven-Pro-Black') format('svg'),
        url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot'),
        url('/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Alesand-Regular';
    src:url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.woff') format('woff'),
        url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.svg#Alesand-Regular') format('svg'),
        url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot'),
        url('/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
.card-title{
  white-space:nowrap;
  overflow: visible;
}

.body{
    background-color: $info;
}
.p{
    margin-top: 10rem;
    font-family: 'Alesand-Regular';
    color: $secondary;
}
.navbar-custom{
    background-color: $principal;
    color: $secondary;
    font-family: 'Alesand-Regular';
}

.btn-custom{
    background-color: $secondary;
    color: $warning;
}
.btn-custom:hover{
    background-color: $principal;
    color: $secondary;
}
.pie-de-pagina{
    font-family: 'Alesand-Regular';
    color: $secondary;
    background-color: $principal;
}
.btn-dion{
    background-color: $dionlight;
    text-overflow: $diondark;
}
.btn-dion:hover{
    background-color: $diondark;
    color: $dionlight;
    cursor: pointer;
}
.info-luz{
    background-color: $principal;
    color: $dionlight;
}
.titulo{
    font-family: 'Maven-Pro-Black';
    color: $secondary;
}

.dion{
    background-color: $dion;
}
.titulodion{
    color: $diondark;
    font-family: 'Maven-Pro-Black';
}
.textocomun{
    font-family: 'Alesand-Regular';
    color: $secondary;
}
.textdion{
    color: $dionlight;
    font-family: 'Alesand-Regular';
}

