@font-face {
  font-family: "Maven-Pro-Black";
  src: url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.woff") format("woff"), url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.svg#Maven-Pro-Black") format("svg"), url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot"), url("/webfonts_Maven-Pro-Black/Maven-Pro-Black.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alesand-Regular";
  src: url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.woff") format("woff"), url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.svg#Alesand-Regular") format("svg"), url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot"), url("/webfonts_Alesand-Regular/Alesand-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.card-title {
  white-space: nowrap;
  overflow: visible;
}

.body {
  background-color: #cecbc8;
}

.p {
  margin-top: 10rem;
  font-family: "Alesand-Regular";
  color: #948b88;
}

.navbar-custom {
  background-color: #dcd3cf;
  color: #948b88;
  font-family: "Alesand-Regular";
}

.btn-custom {
  background-color: #948b88;
  color: #fbf6e3;
}

.btn-custom:hover {
  background-color: #dcd3cf;
  color: #948b88;
}

.pie-de-pagina {
  font-family: "Alesand-Regular";
  color: #948b88;
  background-color: #dcd3cf;
}

.btn-dion {
  background-color: #c1cad7;
  text-overflow: #191d23;
}

.btn-dion:hover {
  background-color: #191d23;
  color: #c1cad7;
  cursor: pointer;
}

.info-luz {
  background-color: #dcd3cf;
  color: #c1cad7;
}

.titulo {
  font-family: "Maven-Pro-Black";
  color: #948b88;
}

.dion {
  background-color: #6b8096;
}

.titulodion {
  color: #191d23;
  font-family: "Maven-Pro-Black";
}

.textocomun {
  font-family: "Alesand-Regular";
  color: #948b88;
}

.textdion {
  color: #c1cad7;
  font-family: "Alesand-Regular";
}